{% extends "sr/layout.html" %}

{% block body %}
<br/>
<p>Синкагэ-рю является одной из древнейших школ кэн-дзюцу – фехтования мечом, основанная Камиизуми Исэ-но ками Хидэцуна в середине 16 века («эпоха воюющих царств»). Пройдя обучение в трех школах, которые называют истоками японского кэн-дзюцу – Нэн-рю, Катори синто-рю, Кагэ-рю, Исэ-но ками развивает и совершенствует технику этих школ, особое внимание уделяя технике и принципам школы Кагэ-рю. Результатом стало создание школы Синкагэ-рю. Участвуя в многочисленных сражениях, Исэ-но ками на деле доказал эффективность созданной им школы, которая в последствии стала очень популярной в средневековой Японии. Лучшие представители школы (семья Ягю) являлись преподавателями кэн-дзюцу в семье сёгунов Токугава, другие, пройдя курс обучения Синкагэ-рю, в последствии основали свои школы.
</p> 

<p>В технический арсенал школы входит работа с длинным и коротким мечом, как по отдельности, так и вместе, техника дзё-дзюцу (фехтование палкой), батто-дзюцу (йайдо), приемы муто-дори (техника без оружия против вооруженного противника).
</p> 

<p>В настоящее время сосю школы (наследником традиций) является сэнсэй Ватанабэ Тадасигэ. В целях сохранения и развития школы в 1969 г. он создал организацию «Синкагэ-рю Хёхо Маробасикай», которая в настоящий момент является ведущей организацией, развивающей Синкагэ-рю в Японии и за ее пределами. 
</p>

<p align="right">
Игорь Переверзев, сайт AYKI.RU; ru.wikipedia.org
</p>

<br/>

<p>После нескольких лет учебы Ватанабэ Т. основал свою собственную организацию - Marobashikai, культивируя этот стиль фехтования.</p>

<p>В 2004 году Синкаге рю ассоциаций Marobashikai официально попала в Польшу.</p>

<p>На данный момент Porando Shikage Рю Marobashikai является одной организацией в Польше и Беларуси, представляющей японскую Marobashi-kai, Т. Watansbe Soshu Dairi и способ обучения соответствующий ее передаче стиля Синкаге Рю.  </p>

<p align="right">Януш Шиманкевич, сайт houseofasia.org</p>
{% endblock %}
