{% extends "vt/layout.html" %}

{% load staticfiles %}

{% block body %}
<table class="table">
  <tr>
    <td style="text-align: center; valign: center">
      <img src="{% static 'images/raiko-small.jpg' %}">
    </td>
    <td style="valign: center">
      <p><b>Андрей Райко</b></p>
      <p>Инструктор школы Винг Тсун в Минске</p>
      <p>Тел.: +375297035638</p>
      <p>Email: a.raikovt@gmail.com</p>
    </td>
  </tr>
</table>

<hr/>

<h3>Социальные сети:</h3>

<a href="https://vk.com/public121518888" style="font-size: 16px">Группа Вконтакте</a>

{% endblock %}
