{% extends "vt/layout.html" %}

{% load staticfiles %}

{% block body %}
<table class="table">
  <tr>
    <td style="text-align: left; valign: center; padding-left: 40px;">
      <img src="{% static 'images/raiko-small.jpg' %}">
    </td>
    <td style="valign: center">
      <p><b>Андрей Райко</b></p>
      <p>Инструктор школы Винг Тсун в Минске</p>
      <p>Тел.: +375297035638</p>
      <p>Email: a.raikovt@gmail.com</p>
    </td>
  </tr>
</table>

<hr/>

<h3 class="text-center">Адрес</h3>

<div class="row">
  <div class="col-md-6 text-center">
    <h3>по карте</h3>
    <p>улица Калиновского, 111, СК "Олимпиец"</p>
    <p>15 минут пешком от ст.м. Восток</p>
  </div>
  <div class="col-md-6 text-center">
    <h3>по навигатору</h3>
    <p>широта: 53°56′44″N (53.945447)</p>
    <p>долгота: 27°38′58″E (27.649524)</p>
  </div>
</div>

<hr/>

<h3 class="text-center">Социальные сети:</h3>

<div class="text-center">
    <a href="https://vk.com/public121518888" style="font-size: 16px;">Группа Вконтакте</a>
</div>

{% endblock %}
