{% extends "vt/layout.html" %}

{% block body %}
<table class="table">
  <tr>
    <th style="text-align: center;">Когда</th>
    <th style="text-align: center;">Где</th>
    <th style="text-align: center;">Что</th>
  </tr>
  <tr>
    <td style="text-align: center; width: 15%">
      17-19.06.2016
    </td>
    <td style="text-align: center; width: 30%">
      Старая весь
    </td>
    <td>
      Семинар по шесту
    </td>
  </tr>
  <tr>
    <td style="text-align: center; width: 15%">
      21.07.2016 – 31.07.2016
    </td>
    <td style="text-align: center; width: 30%">
      В ста метрах в Дзвежино возле Колобржега от Балтийского моря
    </td>
    <td>
      Лагерь Винг Тсун Европейской Атлетической Ассоциации Винг Тсун. Как и обычно руководить тренировочным процессом на двух тренировках в день будут: Сикунг Шиманкевич, Сифу Мариуш Петкун, Сифу Лукаш Печенка и ряд инструкторов из Польши, Литвы, Беларуси и других стран.  Две тренировки в день под надзором толпы инструкторов, питание проживание входят в сумму – $270.
    </td>
  </tr>
</table>



{% endblock %}
