{% extends "vt/layout.html" %}

{% block body %}
<h3 align="center">Семинары</h3>
<br/>
<table class="table">
  <tr>
    <th style="text-align: center;">Когда</th>
    <th style="text-align: center;">Где</th>
    <th style="text-align: center;">Что</th>
  </tr>
  {% for event in events %}
  <tr>
    <td style="text-align: center; width: 15%">
      {{ event.start_date }}-{{ event.end_date }}
    </td>
    <td style="text-align: center; width: 30%">
      {{ event.place }}
    </td>
    <td>
      {{ event.description }}
    </td>
  </tr>  
  {% endfor %}
</table>

<br/>

{% if request.user.is_authenticated %}
<div align="right">
  <a href="/admin/vt/event/add/" style="padding-right: 10px; color: #444; font-weight: bold;">Добавить</a> / &nbsp; 
  <a href="/admin/vt/event" style="padding-right: 10px; color: #444; font-weight: bold;">Редактировать</a>
</div>
{% endif %}

{% endblock %}
