{% extends "vt/layout.html" %}

{% load staticfiles %}

{% block body %}
<!-- <img src="{% static 'images/wong-shun-leung.jpg' %}"/>-->

<h2 align="center" class="display-4">Система боя Вонг Шун Ленга</h2>

<p>
  Винг Тсун кунг фу (Ving Tsun kung fu, кит. 詠 春 功 夫)* - китайская практическая система боевых искусств, основанная на простых и экономичных движениях, а также на законах физики и механике человеческого тела. На данный момент эта система считается наиболее распространённым стилем южнокитайского кунг фу и практикуется более чем в 64 странах мира. 
</p>

<p>
  Школа в Минске была основана в 2006 году группой интересующихся на основе школы Сикунга Януша Шиманкевича (Польша), Европейской Атлетической Ассоциации Винг Тсун (EAAVT). Занятия проходят по вечерам 3-4 раза в неделю. Набор в группу ведётся круглогодично.
</p>

<br/>

<p style="font-size: 12px">
  * также можно встретить и такие написания и произношения как Вин Чун (кантонское произношение), Винь Чун, Вин Чунь, Винь Чунь, Винг Чун, Вин Тсун, Винь Тсунг, Вин Цун Чуань, Винь Цунь Чуан, Юн Цун Цюань, Юн Чун Цуан, Юн Чунь Юан, Юнь Чунь Юань, Юнг Чхуен, Юн Чуэн, Yong Chun, Yon Chun, Yong Chun, Wing Chug, Wing Chun, Wing Tsun, Vin Chun и т.п.
</p>

{% endblock %}
